.hidden {
	display: none;
}

.dustCount::before {
  content: "Dust: ";
}
.scrapCount::before {
  content: "Scraps: ";
}
.brickCount::before {
  content: "Bricks: ";
}

.topBar {
	background-color: #bbbbbb;
}
.topBar ul{
	display: inline-block;
	margin: 3px;
	padding-right: 1.5em;
	padding-left: 1.5em;
}
.topBar ul li {
	display: inline;
	padding: 5px 0px 5px 0px;
	margin: 0px;
}
.topBar ul li + li:before {
	content: " | ";
}
.autosaveIndicator{
    opacity: 0;
}


/* Animations */
@keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  72% {
    opacity: 1;
  }
}

.fadeIn {
	animation: fadein 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1;  
}

.tickerPanel{
	overflow: hidden;
	height: 85%;
}
.textFadeout {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 